<footer class="bg-black text-white pt-20 pb-10 px-6 border-t border-neutral-900">
  <div class="max-w-7xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-16 md:gap-8 mb-20">
      <div class="flex flex-col gap-6">
        <div class="relative">
          <h3 class="text-lg font-bold">Sobre Nosotros</h3>
          <div
            class="absolute -bottom-2 left-0 w-12 h-[2px] bg-linear-to-r from-neutral-500 to-transparent"
          ></div>
        </div>
        <p class="text-neutral-400 text-sm leading-relaxed max-w-xs">
          Creamos estatuas y figuras coleccionables de alta calidad mediante impresión 3D. Cada
          pieza es pintada a mano con amor en Trujillo.
        </p>
        <div class="flex gap-3">
          @for (social of ['f', 'ig', 'tk', 'wa']; track social) {
            <a
              href="#"
              class="w-10 h-10 rounded-full bg-neutral-900 flex items-center justify-center border border-neutral-800 hover:bg-neutral-800 transition-colors"
            >
              <span class="text-xs text-neutral-300 font-bold uppercase">{{ social }}</span>
            </a>
          }
        </div>
      </div>

      <div class="flex flex-col gap-6">
        <div class="relative">
          <h3 class="text-lg font-bold">Enlaces Rápidos</h3>
          <div
            class="absolute -bottom-2 left-0 w-12 h-[2px] bg-linear-to-r from-neutral-500 to-transparent"
          ></div>
        </div>
        <ul class="flex flex-col gap-4">
          <li>
            <a
              routerLink="/catalog"
              class="hover:cursor-pointer text-neutral-400 hover:text-white text-sm transition-colors flex items-center gap-2"
            >
              <span class="text-[10px] text-neutral-600">›</span> Catálogo</a
            >
          </li>
          <li>
            <a
              routerLink="/cart"
              class="hover:cursor-pointer text-neutral-400 hover:text-white text-sm transition-colors flex items-center gap-2"
            >
              <span class="text-[10px] text-neutral-600">›</span> Carrito</a
            >
          </li>

          <li>
            <a
              routerLink="/contact"
              class="hover:cursor-pointer text-neutral-400 hover:text-white text-sm transition-colors flex items-center gap-2"
            >
              <span class="text-[10px] text-neutral-600">›</span> Contacto</a
            >
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-6">
        <div class="relative">
          <h3 class="text-lg font-bold">Contacto</h3>
          <div
            class="absolute -bottom-2 left-0 w-12 h-[2px] bg-linear-to-r from-neutral-500 to-transparent"
          ></div>
        </div>
        <div class="flex flex-col gap-5 text-sm text-neutral-400">
          <p class="flex flex-col">
            <span class="text-white font-medium">Ubicación</span>
            Trujillo, La Libertad, Perú
          </p>
          <p class="flex flex-col">
            <span class="text-white font-medium">Teléfono</span>
            +51 999 999 999
          </p>
          <p class="flex flex-col">
            <span class="text-white font-medium">Email</span>
            info@tutienda.com
          </p>
          <a href="#" class="text-white font-semibold flex items-center gap-2">
            WhatsApp
            <div class="w-2 h-2 bg-green-500 rounded-full animate-pulse"></div>
          </a>
        </div>
      </div>
    </div>

    <div
      class="pt-10 border-t border-neutral-900 flex flex-col md:flex-row justify-between items-center gap-6"
    >
      <p class="text-[11px] text-neutral-500 text-center md:text-left">
        © 2026 **TridiStudio** - Estatuas 3D de Colección | Hecho con
        <span class="text-pink-500">❤️</span> en Trujillo
      </p>

      <div class="flex gap-8 text-[11px] text-neutral-500 uppercase tracking-widest font-bold">
        <a href="#" class="hover:text-white transition-colors">Términos</a>
        <a href="#" class="hover:text-white transition-colors">Privacidad</a>
        <a href="#" class="hover:text-white transition-colors">Envíos</a>
      </div>
    </div>
  </div>
</footer>
